*{
    color: white;
}


h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 100px;
    white-space: nowrap;
    text-decoration: underline;
    color: white;
}

body{
    background-color: black;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #A855F7;
    padding: 20px 40px;
    color: white;
}

.nav div{
    display: flex;
    align-items: center;
    gap: 40px;
    color: white;
}
